<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GoOrder.net - easy order list in your company!</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/customizations.css" rel="stylesheet">
    <link href="application/textarea-in-place.css" rel="stylesheet">
  </head>
  <body ng-app="goorder">
    <div class="container" ng-controller="OrderGroupsController">
      <div class="row">
        <div class="hero-unit thin">
          <h1>GoOrder.net - easy order list!</h1>
          <p>What do <strong>we</strong> order today?</p>
        </div>
      </div>

      <!-- ordering group -->
      <div class="ng-cloak">
        <div class="row">
          <form class="form-inline">
            Share with hungry friends:
            <div class="input-append">
              <input class="span4" id="url" value="http://goorder.com/5f77tuxl" type="text">
              <button class="btn" type="button">copy</button>
            </div>
          </form>
        </div>

        <!-- ordering group/tabs -->
        <div class="row">
          <ul class="nav nav-tabs">
            <li ng-repeat="t in tables" ng-class="{active:isActive(t)}">
              <a href="#" ng-click="setActive(t)">{{t.label}}</a>
            </li>
            <li>
              <a href="#" ng-click="addTable()">+</a>
            </li>
          </ul>
        </div>

        <!-- ordering group/selected-tab -->
        <div class="row">
          <!-- ordering group/selected-tab/place -->
          <div class="span6" go-textarea-in-place>
            <strong>Ordering place</strong>
            <div class="edit-prompt render"></div>
            <textarea rows="5" class="span6" ng-model="table.place"></textarea>
          </div>
          <!-- ordering group/selected-tab/comments -->
          <div class="span6" go-textarea-in-place>
            <strong>Comments: who is ordering, when, etc...</strong>
            <div class="edit-prompt render"></div>
            <textarea class="span6"  ng-model="table.comments"></textarea>
          </div>
        </div>


        <!-- ordering group/selected-tab/list -->
        <div class="well row">
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">1.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Witek">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Kurak">
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="12,90">
              <span class="add-on"><i class="icon-check" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">2.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="&#321;ukasz">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Makaron">
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="10,50">
              <span class="add-on"><i class="icon-check" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">3.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Zbyszko">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Makaron">
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="10,50">
              <span class="add-on"><i class="" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">4.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Krzysiek">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Rodzynki">
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="5,60">
              <span class="add-on"><i class="" title="paid?"></i></span>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">5.</span>
              <input type="text" class="input-medium" placeholder="Who?" value="Anna">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?" value="Jablko">
            <div class="input-append">
              <input type="text" class="input-small money" placeholder="Price?" value="0,60">
              <span class="add-on"><i class="" title="paid?"></i></span>
            </div>
          </div>

          <!-- ordering group/selected-tab/list-new-order -->
          <div class="form-inline">
            <div class="input-prepend">
              <span class="add-on">#.</span>
              <input type="text" class="input-medium" placeholder="Who?">
            </div>
            <input type="text" class="input-xxlarge" placeholder="What?">
            <input type="text" class="input-small money" placeholder="Price?">
          </div>
        </div>
      </div>


    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.js"></script>
    <script src="application/main.js"></script>
    <script src="application/order-groups.js"></script>
    <script src="application/textarea-in-place.js"></script>
  </body>
</html>